@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
	letter-spacing: 0.2rem;
	background-image: url('https://cdn.esahubble.org/archives/images/screen/potw1345a.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
